body{
    background-color: #dfe3ee;
}
.ma{

    margin: 49px 1px;
    padding: 25px 50px
}
.main{
    width: 80%;
}

.form{
    width: 400px;
    background-color: white;
  margin-top: 17px;
  padding-top: 16px;
  border-radius: 6px;
  margin-left: 25px;
}
.form input{
    margin-left: 20px;
    padding: 14px 16px;
    width: 332px;
    border-radius: 12px;
}
.for{
   padding-left: 117px;

}
.login{
    margin-left: 30px;
    margin-top: 15px;
    background-color: #1877f2;
    border-radius: 8px;
    padding: 14px 16px;
    width: 308px;
    
}
.ga{
    border-bottom: 1px solid #dadde1;
    margin-top: 7px;
    margin-bottom: 7px;
}
#h{
    width: 370px;
    margin-left: 18px;
}
.new{
    width: 227px;
    background-color: #42b72a;
    padding: 17px;
    border-radius: 8px;
    margin-left: 70px;
    
}
.ppp{
    padding: 16px 42px;
}

p{
    margin-bottom: 0rem;
}

.fo{
    background-color:white;
    margin-top: 130px;
    margin-bottom: 0;
} 
